html
	head
		meta( name="viewport" content="width={width},initial-scale=1")
		meta( data-n-head="true" data-hid="og-title" name="og:title" content="Академия Наук РС(Я) - " + header)
		meta( data-n-head="true" data-hid="og-description" name="og:description" content=text)
		meta( data-n-head="true" data-hid="og-image" name="og:image" content=image)

	title=types
	body
		div=types
		div=text
		img(src=image)
		div=url
		div=image
		script.
			//document.location.href = '#{url}'
